<div class="m-4 border border-2 border-primary">
  <div class="bg-info text-center">app.component</div>
  <div class="p-2 d-flex flex-column gap-2">
    <h1>Welcome to Angular!</h1>
    <p>
      This is the <span class="fw-bold">{{ title }}</span> application
    </p>

    <div class="row">
      <div class="col"><app-greeting></app-greeting></div>
      <div class="col"><app-greeting></app-greeting></div>
    </div>

    <app-one-way-bind></app-one-way-bind>

    <app-event-bind></app-event-bind>

    <app-two-way-bind></app-two-way-bind>
    <app-template-variables></app-template-variables>
    <app-structural-directives></app-structural-directives>
    <app-component-input></app-component-input>
    <app-component-input-output></app-component-input-output>
  </div>
</div>
