<div class="border border-2 border-secondary">
  user-input-output
  <table class="table">
    <thead class="table-info">
      <tr>
        <td>#</td>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Age</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData; index as i">
        <td>{{ i }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.age }}</td>
        <td>
          <button (click)="onDeleteUser(i)" class="btn btn-danger btn-sm">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
